<template>
	<v-main>
		<PageToolbar title="Edit Paper"/>

		<v-container>
			<v-row class="mt-4 mb-4">
				<v-col align="right" justify="right">
					<v-btn outlined @click="onPaperOpen()" :disabled="paper.filesize == 0">
						Open
					</v-btn>
					<v-btn outlined class="ml-4" @click="onIndexClicked()" :disabled="paper.filesize == 0">
						Index
					</v-btn>
					<v-btn outlined class="ml-4" @click="onDeleteClicked()">
						Delete
					</v-btn>
				</v-col>
			</v-row>

			<v-card>
				<v-card-title>Metadata</v-card-title>
				<v-card-subtitle>
					Last update: {{ moment.unix(paper.updated_at).fromNow() }}
				</v-card-subtitle>

				<v-card-text>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.title"
								label="Title"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col cols="9">
							<v-text-field
								v-model="paper.authors"
								label="Authors (comma separated)"
							></v-text-field>
						</v-col>
						<v-col cols="3">
							<v-text-field
								v-model="paper.year"
								label="Year"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.doi"
								label="DOI"
								append-outer-icon="mdi-file-find" 
								:disabled="fetching"
								@click:append-outer="onDoiFetch()"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.arxiv"
								label="arXiv"
								append-outer-icon="mdi-file-find" 
								:disabled="fetching"
								@click:append-outer="onArxivFetch()"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.isbn"
								label="ISBN"
								append-outer-icon="mdi-file-find" 
								:disabled="fetching"
								@click:append-outer="onIsbnFetch()"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-textarea
								v-model="paper.bibtex"
								label="Bibtex"
								rows="3"
							></v-textarea>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.url"
								label="URL"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<vue-editor v-model="paper.notes" placeholder="Notes" :editorToolbar="notesToolbar" style="color:black"></vue-editor>
						</v-col>
					</v-row>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn outlined :disabled="saving" @click="onSaveClicked()">Save</v-btn>
				</v-card-actions>
			</v-card>

			<v-card class="mt-6">
				<v-card-title>
					Tags
				</v-card-title>

				<v-card-text>
					<v-list dense style="max-height: 300px" class="overflow-y-auto">
						<template v-for="tag in selectedTags">
							<v-list-item :key="tag.tag_id" @click="() => {}">
								<v-list-item-action>
									<v-checkbox v-model="tag.selected"></v-checkbox>
								</v-list-item-action>
								<v-list-item-avatar>
									<v-icon :color="tag.color">mdi-square-rounded</v-icon>
								</v-list-item-avatar>
								<v-list-item-title>{{tag.name}}</v-list-item-title>
							</v-list-item>
							<v-divider :key="'div'+tag.tag_id"></v-divider>
						</template>

					</v-list>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn outlined :disabled="updatingTags" @click="onTagsSaveClicked()">Save</v-btn>
				</v-card-actions>
			</v-card>

			<v-card class="mt-6">
				<v-card-title>File</v-card-title>
				<v-card-text>
					<v-row v-if="paper.filesize > 0">
						<v-col>
							Filename: <strong>{{ paper.filename }}</strong><br>
							Type: <strong>{{ paper.filemime }}</strong>,
							Size: <strong>{{ prettySize(paper.filesize) }}</strong> <br>
							Last successful index: <strong>{{ moment.unix(paper.indexed_at).fromNow() }}</strong>
						</v-col>
					</v-row>
					<v-row v-else>
						<v-col>
							No file
						</v-col>
					</v-row>

					<v-row>
						<v-col>
							<v-file-input
								v-model="fileInput"
								show-size
								append-outer-icon="mdi-upload"
								label="Choose file"
							></v-file-input>
						</v-col>
					</v-row>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn outlined :disabled="uploadDisabled" @click="onUploadClicked()">Upload</v-btn>
				</v-card-actions>
			</v-card>

			<PaperDeleteDialog v-model="deletePapers" @delete="onDeleted"/>

		</v-container>
	</v-main>

</template>

<script>

import { bus } from '../main'

import {Papers} from '../api/Papers';
import {Doi} from '../api/Doi';
import {Arxiv} from '../api/Arxiv';
import {GoogleBooks} from '../api/GoogleBooks';
import PaperDeleteDialog from '../components/PaperDeleteDialog';
import PageToolbar from '../components/PageToolbar';
import { VueEditor } from "vue2-editor";

const moment = require('moment');

export default {
	name: 'PaperEdit',

	components: { 
		PaperDeleteDialog,
		PageToolbar,
		VueEditor
	},

	methods: {
		onSaveClicked: async function() {
			this.saving = true;
			bus.$emit('loading', true);

			await this.$store.dispatch('papers/update', this.paper);

			await this.updatePaper();

			this.saving = false;

			bus.$emit('loading', false);
			bus.$emit('info', `Paper #${this.paper.paper_id} updated`);
		},

		onTagsSaveClicked: async function() {
			var newTags = [];
			for (const tag of this.selectedTags) {
				if (!tag.selected)
					continue;
				if (tag.link_id)
					continue;
				newTags.push(tag.tag_id);
			}

			var removeLinks = [];
			for (const tag of this.selectedTags) {
				if (!tag.link_id)
					continue;
				if (tag.selected)
					continue;
				removeLinks.push(tag.link_id);
			}

			this.updatingTags = true;
			bus.$emit('loading', true);

			try {
				var promices = [];

				if (newTags.length > 0) {
					let p = this.$store.dispatch('papers/link', {
						paper_id: this.paper.paper_id,
						tags_ids: newTags,
						tags: this.$store.state.tags.tags
					});

					promices.push(p);
				}

				for (const link of removeLinks) {
					let p = this.$store.dispatch('papers/unlink', {
						link_id: link,
						paper_id: this.paper.paper_id
					});

					promices.push(p);
				}

				await Promise.all(promices);
				await this.updatePaper();
				await this.updateTags();
			} catch(err) {
				bus.$emit('error', err);
			}

			bus.$emit('loading', false);
			this.updatingTags = false;
		},

		onUploadClicked: async function() {
			this.uploading = true;
			bus.$emit('loading', true);

			await Papers.upload(this.paper.paper_id, this.fileInput);

			await this.updatePaper();

			this.uploading = false;
			bus.$emit('loading', false);
			bus.$emit('info', `File for the paper #${this.paper.paper_id} is uploaded.`);

			this.fileInput = null;
		},

		onIndexClicked: async function() {
			await Papers.index(this.paper.paper_id);
			bus.$emit('info', 'Index job was queued');
		},

		updatePaper: async function() {
			var paper_id = this.$route.params.paper_id;

			this.paper = await this.$store.dispatch('papers/fetchOne', paper_id);

			if (!this.paper)
				throw 'paper ' + paper_id + ' is not found';
		},
		
		updateTags: async function() {
			var tags = [];

			for (const tag of this.$store.state.tags.tags) {
				var found = null;
				for (const pt of this.paper.tags) {
					if (pt.tag_id == tag.tag_id) {
						found = pt;
						break;
					}
				}

				if (found) {
					found.selected = true;
					tags.push(found);
				} else {
					tag.selected = false;
					tags.push(tag);
				}
			}

			this.selectedTags = tags;
		},

		prettySize: function(size) {
			const suffix = [' B', ' KB', ' MB', ' GB'];

			var i = 0;

			while (size > 1024 && i < suffix.length) {
				i++;
				size /= 1024;
			}

			if (size < 10)
				size = Math.round(size, 1);
			else
				size = Math.round(size, 0);

			return size + suffix[i];
		},

		setFetchedData: function(data) {
			if (data.title)
				this.$set(this.paper, 'title', data.title);
			if (data.year)
				this.$set(this.paper, 'year', data.year);
			if (data.authors)
				this.$set(this.paper, 'authors', data.authors);
			if (data.doi)
				this.$set(this.paper, 'doi', data.doi);
			if (data.bibtex)
				this.$set(this.paper, 'bibtex', data.bibtex);
			if (data.notes)
				this.$set(this.paper, 'notes', data.notes);
			if (data.url)
				this.$set(this.paper, 'url', data.url);
		},

		callFetch: async function(method, id) {
			if (!id)
				return;

			bus.$emit('loading', true);

			try {
				this.fetching = true;
				var data = await method.fetch(id);
			} catch(err) {
				bus.$emit('error', err);
			}

			bus.$emit('loading', false);

			this.fetching = false;

			if (data)
				this.setFetchedData(data);

		},

		onDoiFetch: async function() {
			await this.callFetch(Doi, this.paper.doi);
		},

		onArxivFetch: async function() {
			await this.callFetch(Arxiv, this.paper.arxiv);
		},

		onIsbnFetch: async function() {
			await this.callFetch(GoogleBooks, this.paper.isbn);
		},

		onDeleteClicked: async function() {
			this.deletePapers = [this.paper];
		},

		onPaperOpen: function() {
			window.open(Papers.getFilePath(this.paper.paper_id), '_blank');
		},

		onDeleted: function(deleted) {
			if (deleted.indexOf(this.paper.paper_id) >= 0) {
				this.$router.push({ path: '/', query: {} });
				bus.$emit('info', 'The paper was deleted');
			}
		}
	},

	created: async function() {
		try {
			await Promise.all([
				this.updatePaper(),
				this.$store.dispatch('tags/fetch'),
			]);

			await this.updateTags();

		} catch(err) {
			bus.$emit('error', err);
		}
	},

	props: { },

	data: function() {
		return {
			paper: {},
			saving: false,
			moment: moment,
			uploading: false,
			fileInput: null,
			fetching: false,
			deletePapers: [] ,
			selectedTags: [],
			updatingTags: false,
			notesToolbar: [
				// [{ font: [] }],
				// [{ header: [false, 1, 2, 3, 4, 5, 6] }],
				// [{ size: ["small", false, "large", "huge"] }],
				["bold", "italic", "underline", "strike"],
				// [
				// 	{ align: "" },
				// 	{ align: "center" },
				// 	{ align: "right" },
				// 	{ align: "justify" }
				// ],
				// [{ header: 1 }, { header: 2 }],
				[{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
				// [{ script: "sub" }, { script: "super" }],
				// [{ indent: "-1" }, { indent: "+1" }],
				// [{ color: [] }, { background: [] }],
				// ["link"],
				[ "blockquote", "code-block", "clean"]
			]
		}
	},

	computed: {
		uploadDisabled: function() {
			if (this.uploading)
				return true;
			if (!this.fileInput)
				return true;
			return false;
		}
	}
}

</script>
