<template>
	<v-main>
		<PageToolbar></PageToolbar>

		<v-container>
			<v-row class="mt-2 pl-2">
				<template v-if="$store.getters['papers/empty']">
					<v-subheader v-if="searchQuery">
						No documents matching '<strong>{{ searchQuery }}</strong>' found
					</v-subheader>
					<v-subheader v-else-if="searchInTags.length > 0">
						No documents in selected tags found
					</v-subheader>
					<v-subheader v-else>
						No documents
					</v-subheader>
				</template>
				<template v-else>
					<v-subheader v-if="selectedTags.length > 0 && searchQuery">
						Documents matching '<strong>{{ searchQuery }}</strong>' tagged with <strong>{{ searchInTags.length }}</strong> tag(s)
					</v-subheader>
					<v-subheader v-else-if="selectedTags.length > 0">
						Documents tagged with <strong>{{selectedTags.length}}</strong> tag(s)
					</v-subheader>
					<v-subheader v-else-if="searchQuery">
						Documents matching '<strong>{{ searchQuery }}</strong>'
					</v-subheader>
					<v-subheader v-else>
						Latest documents
					</v-subheader>
				</template>
			</v-row>

			<v-row class="pl-3 pr-3" v-if="(!$store.getters['papers/empty']) || searchInTags.length > 0 || this.$route.query.q">
				<v-col>
					<v-select
						v-model="searchInTags"
						:items="$store.state.tags.tags"
						label="Select Tags"
						multiple clearable outlined dense
						@input="onSearchInTagsInput()"
						item-text="name" item-value="tag_id"
					>
						<template v-slot:selection="data">
							<v-chip
								v-if="data.index < 1 || (data.index == 1 && searchInTags.length == 2)"
								small outlined
								:color="data.item.color" close
								@click:close="onSelectedTagClose(data.index)"
							>
								<span>{{ data.item.name }}</span>
							</v-chip>

							<span v-else-if="data.index == 1" class="grey--text caption">
								(+{{ searchInTags.length - 1 }} more)
							</span>
						</template>
					</v-select>
				</v-col>
			</v-row>

			<v-row v-if="!$store.getters['papers/empty']" class="col-12 mt-0 pt-0 pr-0">
				<v-col>
					<v-btn v-if="someChecked" @click="onCheckAll()" outlined>Deselect all</v-btn>
					<v-btn v-else @click="onCheckAll()" outlined>Select all</v-btn>
				</v-col>
				<v-spacer></v-spacer>
				<v-col class="pr-0" align="right">
					<v-menu offset-y>
						<template v-slot:activator="{ on, attrs }">
							<v-btn v-bind="attrs" v-on="on" outlined :disabled="!someChecked">
								Actions
							</v-btn>
						</template>
						<v-list>
							<v-list-item @click="onAllTag()">
								<v-list-item-title>Tag</v-list-item-title>
							</v-list-item>
							<v-list-item @click="onAllBibtex()">
								<v-list-item-title>Bibtex</v-list-item-title>
							</v-list-item>
							<v-list-item @click="onAllDelete()">
								<v-list-item-title>Delete</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu>
				</v-col>
			</v-row>

			<v-list v-if="!$store.getters['papers/empty']" three-line class="col-12">

				<v-list-item-group v-model="selectedPaper">
					<template v-for="paper in $store.state.papers.papers">
						<v-list-item :key="'pap' + paper.paper_id" @click="() => {}" :value="paper.paper_id">
							<v-list-item-action class="mt-8">
								<v-checkbox v-model="paper.checked" @click="onPaperChecked(paper)"></v-checkbox>
							</v-list-item-action>
							<v-list-item-content @click="onPaperClicked(paper)">
								<v-list-item-title>{{ paper.title }}</v-list-item-title>
								<v-list-item-subtitle class="mb-0">
									<span class="text--primary">
										<span v-if="paper.year" class="mr-2">{{paper.year}}</span>

										<span v-if="paper.first_author">{{paper.first_author}}</span>
										<span v-else>No author</span>
									</span>

									<span class="ml-2 text--secondary hidden-sm-and-down">
										Added on {{ moment.unix(paper.created_at).format('ddd, DD MMM YY') }}
									</span>

								</v-list-item-subtitle>
								<v-list-item-content v-if="paper.tags.length">
									<v-row class="pl-3">
										<template v-for="tag in paper.tags">
											<v-chip
												class="mr-1" x-small outlined 
												:key="'tl' + tag.link_id" :color="tag.color"
												close
												@click:close="onLinkDelete(paper, tag)"
											>{{tag.name}}</v-chip>
										</template>
									</v-row>
								</v-list-item-content>
							</v-list-item-content>
							<v-list-item-action class="mt-10">
								<v-row>
									<v-btn v-if="$store.state.viewer.opened" icon @click="onPaperEdit(paper)">
										<v-icon>mdi-file-document-edit</v-icon>
									</v-btn>
									<v-btn v-else :disabled="!paper.has_file" icon @click="onPaperOpen(paper)">
										<v-icon>open_in_new</v-icon>
									</v-btn>
								</v-row>
							</v-list-item-action>
						</v-list-item>

						<v-divider v-if="$store.getters['papers/last_paper_id'] != paper.paper_id" :key="'pd'+paper.paper_id"></v-divider>
					</template>
				</v-list-item-group>

				<v-row v-if="!$store.getters['papers/empty']" class="ma-2" align="center" justify="center">
					<v-col cols=4>
						<v-btn outlined large block :disabled="!$store.state.papers.haveMore" @click="onNextPageClick()">
							Load more
						</v-btn>
					</v-col>
				</v-row>
			</v-list>

			<PaperDeleteDialog v-model="deletePapers" @input="onDeleteClosed()"/>
			<TagPapersDialog v-model="tagPapers"/>
			<BibtexDialog v-model="bibtexPapers"/>
		</v-container>
	</v-main>
</template>

<script>

import { bus } from '../main'
import {Papers} from '../api/Papers';

import PaperDeleteDialog from '../components/PaperDeleteDialog';
import TagPapersDialog from '../components/TagPapersDialog';
import BibtexDialog from '../components/BibtexDialog';
import PageToolbar from '../components/PageToolbar';
const moment = require('moment');

const search_cooldown_ms = 500;

export default {
	name: 'PapersList',

	components: {
		PaperDeleteDialog,
		TagPapersDialog,
		BibtexDialog,
		PageToolbar
	},

	methods: {
		onPaperEdit: function(paper) {
			this.$router.push({ path: `/papers/${paper.paper_id}` });
		},

		onPaperClicked: function(paper) {
			if (!this.$store.state.viewer.opened) {
				this.$router.push({ path: `/papers/${paper.paper_id}` });
				return;
			}

			if (this.$store.state.viewer.paper.paper_id == paper.paper_id) {
				this.$router.push({ path: `/papers/${paper.paper_id}` });
				return
			}

			this.$store.commit('viewer/preview', paper);
		},

		onCheckAll: function() {
			this.allChecked = !this.someChecked;

			this.$store.dispatch('papers/checkAll', this.allChecked);

			this.someChecked = this.allChecked;
		},

		onPaperChecked: function(paper) {
			if (paper.checked)
				this.someChecked = true;
			else
				this.someChecked = this.$store.getters['papers/someChecked'];
		},

		onPaperOpen: function(paper) {
			window.open(Papers.getFilePath(paper.paper_id), '_blank');
		},

		onPaperDelete: function(paper) {
			this.deletePapers = [paper];
		},

		onDeleteClosed: function() {
			this.someChecked = this.$store.getters['papers/someChecked'];
		},

		onNextPageClick: function() {
			this.findPapers(true);
		},

		onAllTag: function() {
			this.tagPapers = this.$store.getters['papers/checked'];
		},

		onAllBibtex: function() {
			this.bibtexPapers = this.$store.getters['papers/checked'];
		},

		onAllDelete: function() {
			this.deletePapers = this.$store.getters['papers/checked'];
		},

		onLinkDelete: async function(paper, link) {
			try {
				await this.$store.dispatch('papers/unlink', link);
			} catch(err) {
				bus.$emit('info', err);
			}
		},

		pushRoute: function() {
			var params = {};

			if (this.searchQuery)
				params.q = this.searchQuery;

			if (this.searchInTags)
				params.t = this.searchInTags;

			var tags = this.getTagsFromQuery();

			var sameTags = tags.length == params.t.length;

			if (sameTags) {
				for (let t of params.t) {
					if (tags.indexOf(Number(t)) < 0) {
						sameTags = false;
						break;
					}
				}
			}

			if (this.$route.query.q == params.q && sameTags)
				return;

			this.$router.replace({ path: '', query: params});
		},

		findPapers: function(append) {
			if (this.searching)
				return;

			if (this.searchTimer)
				clearTimeout(this.searchTimer)

			bus.$emit('loading', true);

			this.searchTimer = setTimeout(async () => {
				this.searching = true;

				try {
					await this.$store.dispatch('papers/find', {
						query: this.searchQuery,
						tags: this.searchInTags,
						append: append
					});

					this.someChecked = this.$store.getters['papers/someChecked'];
					if (!this.someChecked)
						this.allChecked = false;

					this.pushRoute();

				} catch(err) {
					bus.$emit('error', err);
				}

				bus.$emit('loading', false);

				this.searching = false;
			}, search_cooldown_ms);
		},

		onSearchInTagsInput: function() {
			this.findPapers(false);
		},

		onSelectedTagClose: function(idx) {
			this.$delete(this.searchInTags, idx);
			this.findPapers(false);
		},

		onSearchQuery: function(query) {
			if (query == this.searchQuery)
				return;
			this.searchQuery = query;
			this.findPapers(false);
		},

		getTagsFromQuery: function() {
			var tags = [];

			if (typeof(this.$route.query.t) == 'string') {
				tags.push(Number(this.$route.query.t));
			} else if (typeof(this.$route.query.t) == 'object') {
				for (var tag_id of this.$route.query.t)
					tags.push(Number(tag_id));
			}

			return tags;
		}
	},

	watch: {
		$route: function() {
			if (this.$route.query.q || this.$route.query.t)
				return;

			this.searchInTags = [];
			this.searchQuery = '';
			this.findPapers(false);
		}
	},

	created: async function() {
		bus.$on('search', this.onSearchQuery);

		try {
			if (this.$route.query.q)
				this.searchQuery = this.$route.query.q;

			this.searchInTags = this.getTagsFromQuery();

			await this.$store.dispatch('tags/fetch');
			this.findPapers(false);

		} catch(err) {
			bus.$emit('error', err);
		}

		if (this.$store.state.viewer.opened && this.$store.state.viewer.paper.paper_id > 0) {
			this.selectedPaper = this.$store.state.viewer.paper.paper_id;
		}
	},

	data: function() {
		return {
			moment: moment,
			papers: [],
			deletePapers: [],
			tagPapers: [],
			bibtexPapers: [],
			allChecked: false,
			someChecked: false,
			searchInTags: [],
			searchQuery: '',
			searching: false,
			searchTimer: null,

			selectedPaper: 0
		}
	},

	computed: {
		selectedTags: function() {
			if (!this.$route.query.t || this.$route.query.t.length == 0)
				return [];
			return this.$route.query.t;
		}
	}
}
</script>


