<template>
	<v-main>
		<PageToolbar title="New Document" />

		<v-container>
			<v-card>
				<v-card-title>Metadata</v-card-title>

				<v-card-text>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.title"
								label="Title"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col cols="9">
							<v-text-field
								v-model="paper.authors"
								label="Authors"
							></v-text-field>
						</v-col>
						<v-col cols="3">
							<v-text-field
								v-model="paper.year"
								label="Year"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.doi"
								label="DOI"
								append-outer-icon="mdi-file-find" 
								:disabled="fetching"
								@click:append-outer="onDoiFetch()"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.arxiv"
								label="ArXiv"
								append-outer-icon="mdi-file-find" 
								:disabled="fetching"
								@click:append-outer="onArxivFetch()"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.isbn"
								label="ISBN"
								append-outer-icon="mdi-file-find" 
								:disabled="fetching"
								@click:append-outer="onIsbnFetch()"
							></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-textarea
								v-model="paper.bibtex"
								label="Bibtex"
								rows="3"
							></v-textarea>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-text-field
								v-model="paper.url"
								label="Web Page URL"
								append-outer-icon="mdi-open-in-new" 
								@click:append-outer="onUrlOpen()"
							></v-text-field>
						</v-col>
					</v-row>
				</v-card-text>
			</v-card>

			<v-card class="mt-4">
				<v-card-title>File</v-card-title>

				<v-card-text>
					<!-- <v&#45;row> -->
					<!-- 	<v&#45;col> -->
					<!-- 		<v&#45;text&#45;field -->
					<!-- 			v&#45;model="fileUrl" -->
					<!-- 			label="File URL" -->
					<!-- 		></v&#45;text&#45;field> -->
					<!-- 	</v&#45;col> -->
					<!-- </v&#45;row> -->

					<v-row>
						<v-col>
							<v-file-input
								v-model="fileInput"
								show-size
								prepend-icon=""
								append-outer-icon="mdi-upload"
								label="Choose file"
							></v-file-input>
						</v-col>
					</v-row>
				</v-card-text>
			</v-card>

			<v-row class="mt-4" align="center" justify="center">
				<v-col cols=5>
					<v-btn outlined :disabled="createDisabled" block @click="onCreateClicked()">Create</v-btn>
				</v-col>
				<v-col cols=5>
					<v-btn outlined :disabled="createDisabled" block @click="onCreateOpenClicked()">Create And Open</v-btn>
				</v-col>
			</v-row>

		</v-container>
	</v-main>

</template>

<script>

import { bus } from '../main'

import {Doi} from '../api/Doi';
import {Arxiv} from '../api/Arxiv';
import {GoogleBooks} from '../api/GoogleBooks';
import PageToolbar from '../components/PageToolbar';

const moment = require('moment');

export default {
	name: 'PaperAdd',

	components: { 
		PageToolbar,
	},

	methods: {
		reset: function() {
			this.paper = {};
			this.fileInput = null;
			this.fileUrl = '';
		},

		create: async function() {
			this.creating = true;

			bus.$emit('loading', true);

			var paper_id = await this.$store.dispatch('papers/create', {
				paper: this.paper,
				file: this.fileInput
			});

			bus.$emit('loading', false);

			this.reset();

			this.creating = false;

			return paper_id;
		},

		onCreateClicked: async function() {
			var paper_id = await this.create();
			bus.$emit('info', 'Added paper #' + paper_id);
		},

		onCreateOpenClicked: async function() {
			var paper_id = await this.create();

			if (this.$store.state.viewer.opened) {
				var paper = await this.$store.dispatch('papers/fetchOne', paper_id);
				this.$store.commit('viewer/preview', paper);
			}

			this.$router.push({ path: `/papers/${paper_id}` });
		},

		setFetchedData: function(data) {
			if (data.title)
				this.$set(this.paper, 'title', data.title);
			if (data.year)
				this.$set(this.paper, 'year', data.year);
			if (data.authors)
				this.$set(this.paper, 'authors', data.authors);
			if (data.doi)
				this.$set(this.paper, 'doi', data.doi);
			if (data.bibtex)
				this.$set(this.paper, 'bibtex', data.bibtex);
			if (data.url)
				this.$set(this.paper, 'url', data.url);
		},

		callFetch: async function(method, id) {
			if (!id)
				return;

			bus.$emit('loading', true);

			try {
				this.fetching = true;
				var data = await method.fetch(id);
			} catch(err) {
				bus.$emit('error', err);
			}

			bus.$emit('loading', false);

			this.fetching = false;

			if (data)
				this.setFetchedData(data);

		},

		onDoiFetch: async function() {
			await this.callFetch(Doi, this.paper.doi);
		},

		onArxivFetch: async function() {
			await this.callFetch(Arxiv, this.paper.arxiv);
		},

		onIsbnFetch: async function() {
			await this.callFetch(GoogleBooks, this.paper.isbn);
		},

		onUrlOpen: async function() {
			if (!this.paper.url)
				return;

			try {
				new URL(this.paper.url);
				window.open(this.paper.url, '_blank');
			} catch (_) {
				return false;
			}

		},
	},

	created: async function() {
	},

	props: { },

	data: function() {
		return {
			paper: {},
			saved: false,
			creating: false,
			moment: moment,
			uploading: false,
			uploaded: false,
			fileInput: null,
			fileUrl: '',
			fetching: false,
		}
	},

	computed: { 
		createDisabled: function() {
			if (!this.paper.title)
				return true;
			if (this.creating)
				return true;
			return false;
		}

	}
}

</script>
