<template>
	<v-main>
		<PageToolbar title="Edit Tags"/>

		<v-container>
			<v-card>
				<v-card-title>
					Create a new tag
				</v-card-title>

				<v-card-text>
					<v-row>
						<v-col>
							<v-text-field
								v-model="newTagName"
								label="Tag name"
								@input="onNewNameInput()"
								required
							></v-text-field>
						</v-col>
					</v-row>

					<v-row>
						<v-col  align="center" justify="center">
							<v-color-picker
								hide-canvas
								hide-inputs
								:swatches="swatches"
								show-swatches
								v-model="newTagColor"
							></v-color-picker>
						</v-col>
					</v-row>

				</v-card-text>

				<v-card-actions>
					<v-chip
						v-if="newTagName"
						class="ma-2"
						:color="newTagColor"
					>{{newTagName}}</v-chip>
					<v-spacer></v-spacer>
					<v-btn outlined @click="onAddClicked()" :disabled="addDisabled">
						Add
					</v-btn>
				</v-card-actions>
			</v-card>

			<v-card class="mt-4">
				<v-card-title>
					Tags
				</v-card-title>

				<v-card-text>
					<v-list>
					<template v-for="tag in $store.state.tags.tags">
						<v-list-item :key="tag.paper_id" @click="() => {}">
							<v-list-item-avatar>
								<v-icon :color="tag.color">mdi-square-rounded</v-icon>
							</v-list-item-avatar>
							<v-list-item-title>{{ tag.name }}</v-list-item-title>
							<v-list-item-action>
								<v-btn icon @click="onTagDelete(tag)">
									<v-icon dark>delete</v-icon>
								</v-btn>
							</v-list-item-action>
						</v-list-item>
						<v-divider :key="'div'+tag.tag_id"></v-divider>
					</template>

					</v-list>

				</v-card-text>
			</v-card>
		</v-container>
	</v-main>

</template>

<script>

import { bus } from '../main'
import PageToolbar from '../components/PageToolbar';

export default {
	name: 'TagsEditPage',

	components: { 
		PageToolbar,
	},

	methods: {

		goHome: function() {
			this.$router.push({ path: '/' });
		},

		onAddClicked: async function() {
			try {
				await this.$store.dispatch('tags/add', {
					name: this.newTagName,
					color: this.newTagColor
				});

				this.newTagName = '';

			} catch(err) {
				bus.$emit('error', err);
			}
		},

		onNewNameInput: function() {
			this.addDisabled = (this.newTagName.length == 0);
		},

		onTagDelete: async function(tag) {
			try {
				await this.$store.dispatch('tags/remove', tag.tag_id);
			} catch(err) {
				bus.$emit('error', err);
			}
		},
	},

	created: async function() {
		try {
			await this.$store.dispatch('tags/fetch');
		} catch(err) {
			bus.$emit('error', err);
		}
	},

	props: { },

	data: function() {
		return { 
			newTagName: '',
			newTagColor: '#bbb',
			swatches: [
				['#FF7043', '#EF5350'],
				['#29B6F6', '#42A5F5'],
				['#66BB6A', '#26A69A'],
				['#AB47BC', '#7E57C2'],
				['#BDBDBD', '#78909C'],
			],
			addDisabled: true,
		}
	},
}

</script>
